h1 {
    font-size: 2rem;
}
h3 {
    font-weight: bolder;
}
#reset {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
button {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
span {
    margin: 5px;
}
.header {
    margin: 0px;
    height: 500px;
    width: 100%;
    background: cover;
    color: white;
    font-size: 1.2em;
}
.game-section {
    margin: 0px;
    padding: 0px;
}
section {
    margin: 0px;
}
main {
    background-image: url(../assets/background-water.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.game-section {
    color: white;
}