/* add home page styles here */
h1 {
    font-size: 2rem;
}
h3 {
    font-weight: bolder;
}
#reset {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
button {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
span {
    margin: 5px;
}